<div class="topdiv">
	<ul>
	    <li><a href=""><span class="glyphicon glyphicon-heart"></span>&nbsp;Welcome, {$name}</a><span>&nbsp;&nbsp;|&nbsp;</span></li>
	    <li><a href="{:U('User/user_center')}"><i class="fa fa-user"></i>&nbsp;User center</a><span>&nbsp;&nbsp;|&nbsp;</span></li>
		<li><a class="logout" ><span class="glyphicon glyphicon-log-out"></span>&nbsp;Log out</a><span>&nbsp;&nbsp;</span></li>
	</ul>
</div>
<div class="searchdiv">
	<a href="{:U('index/homepage')}"><img src="__PUBLIC__/images/ua.png"></a>
	<img class="line" src="__PUBLIC__/images/line.png">
	<div class="form-group">
	<!-- <form action="{:U('index/article_research')}" id="form_id" method="get" enctype="multipart/form-data">
		<input type="text" name="content" class="form-control" name="search" placeholder="Search">
		<button type="button" class="btn btn-default btn-sm btn-search">
          <span class="glyphicon glyphicon-search"></span>
        </button>
	</form> -->
	<form action="{:U('index/homepage')}" id="form_id" method="get" enctype="multipart/form-data">
		<input type="text" value="{$content}" name="content" class="form-control" placeholder="Search">
		<button type="button" class="btn btn-default btn-sm btn-search">
          <span class="glyphicon glyphicon-search"></span>
        </button>
	</form> 
	</div>
	<span>
		<a href="homepage.html"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>&nbsp;
		<a href="javascript:history.go(-1)"><i class="fa fa-angle-left back"></i>Back</a>
	</span>
</div>
