/**
	created by Joseph
	2016-04-21
*/
/* general */
@import "font-awesome.min.css";

html{ font-size:62.5%;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font-size:1.4rem;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  /*font-family: couriernew, courier, monospace;*/
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
} 
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus { outline:none;} 
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.hide {
  display: none;
}
.wrapper header {
  width: 100%;
  height:110px;
  background-color: #e7eded;
}
.wrapper header div.topdiv {
  height: 40px;
  width: 100%;
  /*background-color:#1686b0;*/
   /*background: linear-gradient(to right, #349B66 , #1686b0);  */
}
.wrapper header ul {
  display: inline-block;
  list-style: none;
  float: right;
  position: relative;
  right: 110px;
  line-height: 40px;
}
.wrapper header ul li {
  display: inline-block;]
}
.wrapper header ul li a {
  color: #000;
  text-decoration: none;
  cursor:pointer;
}
.wrapper header ul li span {
  color: #000;
  font-size: 13px;
}
.wrapper header div.searchdiv {
  width: 1000px;
  margin: 0 auto;
  margin-top: 14px;
  height:80px;
}
.wrapper header div.searchdiv > span {
  position: relative;
  top: 70px;
  left: -350px;
}
.wrapper header div.searchdiv > span > a {
  color: #34495E;
}
.wrapper header div.searchdiv a:hover,
.wrapper header div.searchdiv a:focus {
  text-decoration: none;
}
.wrapper header div.searchdiv .form-group {
  display: inline-block;
  float: right;
  position: relative;
  top: 4px;
}
.wrapper header div.searchdiv .form-group .form-control {
  display: inline-block;
  width: 300px;
  padding-right:30px;
}
.wrapper header div.searchdiv .form-group .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-size: 2px;
  border: 2px solid #1686b0;
}
.searchdiv .fa-angle-left { font-size:20px;margin-right:5px;position:relative;top:1px;}
.wrapper header div.searchdiv .form-group label {
  position: relative;
  left: 290px;
}
.searchdiv .line {
      position: absolute;
      top: 110px;
      left: 0;
      width: 100%;
      height: 3px;
  }
.wrapper header div.searchdiv .form-group label a {
  color: #34495e;
}
.wrapper .layout {
  width: 1000px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  margin-top: 40px;
  min-height:745px;
}

.wrapper .layout > .top-nav > ul > li {
  width: 157px;
}
.wrapper .layout > .top-nav .nav > li > a:focus,
.wrapper .layout > .top-nav .nav > li > a:hover {
  background-color: #34495e;
  border-color: #34495e;
  border-radius: 0;
  color: #fff;
}
.wrapper .layout > .top-nav > .top {
  width: 790px;
}
.wrapper .layout .nav-tabs {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #e7eded;
  margin-right: 2px;
}
.wrapper .layout .nav-tabs > li {
  width: 200px;
  text-align: center;
}
.wrapper .layout .nav-tabs > li > .dropdown-menu {
  min-width: 155px;
}
.wrapper .layout .nav-tabs > li a.dropdown-toggle {
  color: #4a4a4a;
}
.wrapper .layout .nav-tabs > li.leftnav > a {
  background-color: #ECF0F1;
  border-color: #eee;
  color: #000;
}
.wrapper .layout .nav-tabs > li.leftnav > ul {
  min-width: 202px !important;
  margin-left: -1px;
  min-height: 460px;
  box-shadow: none;
}
.wrapper .layout .nav-tabs > li.leftnav > ul > li a {
  height: 38px;
  line-height: 34px;
}
.wrapper .layout .nav-tabs > li.leftnav > ul > li a:hover {
  background-color: #428bca;
  color:#fff;
}
.wrapper .layout .nav-tabs > li.leftnav > ul > li a.active {
  background-color: #337ab7;
  color: white;
}
.wrapper .layout .nav-tabs.left .dropdown-menu > li > a {
  text-align: center;
}
.wrapper .layout .nav-tabs.left .dropdown-menu > li.divider {
  margin: 0;
}
.wrapper .layout .nav-tabs a.category {
  // border-bottom: 1px solid #ccc !important;
  cursor:default;
}
.wrapper .layout .nav-tabs.top > .open > a:focus {
  background-color: #34495e;
  border-color: #34495e;
  color: white !important;
  border-radius: 0;
}
.wrapper .footer {
  width: 100%;
  height: 80px;
  background-color: #e7eded;
  text-align: center;
  margin-top:50px;
}
.wrapper .footer div {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper .footer div img {
  margin-right: 20px;
}
.wrapper .footer div img:first-child { max-width:280px;}
.wrapper .footer div img:nth-child(2) { max-width: 80px;}
.wrapper .footer div img:nth-child(3) { max-width: 80px;}
.wrapper .footer div img.uf-logo { max-width:110px;}
.wrapper .footer div span {
  color: #000;
}
.layout .left-nav {
  display: block;
  width: 20%;
  float: left;
  min-height: 600px;
}
/*.layout .left-nav .dropdown-menu > li a:after {
  content:'\f105';
  font-family: FontAwesome;
  position: absolute;
  right: 8px;
  top: 4x;
}*/
 .layout .top-nav {
  display: block;
  width: 79%;
  float: left;
  margin-left: 8px;
  height: auto;
 }
 label.not-updated { position: relative;left:72px;}
/*  loginpage  */
.loginpage header {
  width: 100%;
  height: 40px;
  background-color: #1686b0;
   /*background: linear-gradient(to right, #349B66 , #1686b0);  */

}
.loginpage .logindiv {
  text-align: center;
  transform:translateY(30%);
}
.loginpage .logindiv > img {
  position: relative;
}
.loginpage .logindiv .loginform {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  border: 1px solid #ece9e9;
  height: 280px;
  width: 370px;
  position: relative;

 /* box-shadow: 6px 6px 25px #999; */
}
.loginform:before {
     content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e7eded;
    position: absolute;
    top: -20px;
    left: 165px;
}
.loginform:after {
      content: '\f023';
    font-family: FontAwesome;
    position: absolute;
    top: -8px;
    left: 179px;
    font-size: 18px;
    color: #cdd1d1;

}
.loginpage .logindiv .loginform input {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 0;
  font-size: 14px;
}
.loginform h4 {
  margin-bottom:20px;
  color: #b9bebe;
  font-weight: 300;
}
.loginpage .logindiv .loginform button {
  width: 300px;
  height: 36px;
  border-radius: 0;
  background-color: #1f8dcd;
    border-color: #1f8dcd;
}
.loginform button.btn-primary:focus { outline: 1px auto -webkit-focus-ring-color;}
.loginpage .logindiv .loginform .form-group {
  position: relative;
}
.loginpage .logindiv .loginform .form-group:first-child {
  margin-bottom: 10px;
}
.loginpage .logindiv .loginform .form-group label {
  position: absolute;
  top: 6px;
  left: 50px;
}
.loginpage .logindiv .loginform .form-group .form-control {
  display: inline-block;
  padding-left: 100px;
  border-color: #d9e2e2;
  color: #cdd4d4;
  padding-top: 9px;
}
.loginpage .logindiv .loginform .form-group .form-control:focus {
  // border: 2px solid #31708f;
  box-shadow: none;
}
.loginpage .logindiv .loginform .form-group span {
    font-size: 16px;
    color: #9a9e9e;
    font-weight: normal;
}
.loginpage .logindiv .loginform .form-group div.vertical {
  width: 0;
  height: 32px;
  border-left: 1px solid #999;
  position: absolute;
  top: -8px;
  left: 22px;
}
.loginpage .logindiv .loginform a.fg_pw {
  position: relative;
  top: -10px;
  left: 94px;
}
/*  hoempage */
.homepage .layout > .content {
  position: relative;
  left:8px;
  width: 790px;
  height: auto;
  padding: 20px;
  float: left;
  border: 1px solid #ccc;
  min-height:420px;
  margin-bottom:84px;
}
.homepage .footer { margin-top:0;}
.homepage .layout > .content .div-pagination {
  display: inline-block;
}
.homepage .layout > .content > div:not(.content-footer) {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  width: 100%;
  overflow:hidden;
}
.homepage .layout > .content > div:last-child {
  border-bottom-width:0;
}
.homepage .layout > .content > div > ul {
  list-style: none;
  display: inline-block;
  margin-top: 10px;
}
.homepage .layout > .content > div > ul > li {
  float: left;
  margin-right: 80px;
}
.homepage .layout > .content > div > ul > li:first-child {
  margin-right: 165px;
}
.homepage .layout > .content > div > ul > li:last-child {
  margin-right: 0;
}
.homepage .layout > .content > div button {
  width: 65px;
  margin-left: 16px;
  height: 30px;
  line-height: 16px;
  margin-top: -10px;
  border-radius: 0;
}
.homepage .layout > .content  img {
  width: 100%;
  max-width: 180px;
  max-height: 125px;
  float: left;
}
.homepage .layout > .content h5 {
  display: inline-block;
  font-weight: 700;
  vertical-align: top;
  max-width: 430px;
  width:430px;
}

.homepage .layout > .content .star {
  color: #e78024;
  font-size: 12px;
}
.homepage .layout > .content p {
  display: inline-block;
  width: 530px;
  font-size: 12px;
  max-height: 100px;
  height:100px;
  overflow: hidden;

}
.homepage .layout select.form-control {
  display: inline-block;
  width: 18%;
  margin-top: 16px;
}
.homepage .layout ul.pagination {
  float: right;
  margin-top:50px !important;
}
/*.homepage .top-nav .dropdown-menu > li > a{ text-align: center;}
*/.homepage .top-nav .left-align li > a{ text-align: left;}
/*  article_view  */
.article_view .content {
  margin-left: 208px;
  padding: 10px;
  margin-top: 46px;
  border: 1px solid #ccc;
}
.article_view.wrapper .layout > .top-nav > ul > li { width:157px;}
.article_view.wrapper .layout > .top-nav > ul > li .dropdown-menu>li>a { text-align: center;}
.article_view .content ul li {
  float: left;
  margin-right: 70px;
}
.article_view .content ul li:first-child {
  margin-left: 30px;
}
.article_view .content ul li .star {
  color: #F1C40F;
}
.article_view .content div.line {
  width: 746px;
  border-bottom: 1px solid #ECF0F1;
  position: relative;
  left:10px;
}
.article_view .ul-icon { height:50px;padding-top: 20px;}
.ul-icon { margin-top:2px;margin-bottom:6px;/*font-family: Century Gothic;*/font-size: 12px;}
.ul-icon li {
  display: inline-block;
  margin-right:20px;
}
.ul-icon .glyphicon-user {
  font-size:12px;
}
.ul-icon  li span {
  margin-right:10px;
}
.article_view .content div.article_content {
  padding: 10px;
  padding-bottom:30px;
}
.article_view .content div.article_content h3,.article_view .content div.article_content label {
  padding-left:30px;
}
.article_view .content div.article_content > img {
  margin-top: 20px;
  max-width: 500px;
}
.article_view .content div.article_content > p {
  margin-top: 20px;
  font-sizre: 14px;
  text-indent: 2em;
}
.article_view .content div.article_content > ul {
  margin-top: 20px;
  height:52px;
  padding-left:30px;
}
.article_view .content div.article_content > ul li {
  margin-right: 10px;
}
.article_view .content div.article_content > ul li:first-child {
  margin-left: 0;
}
.article_view .content div.article_content > ul li > label {
  width: auto;
  height: 24px;
  border: 1px solid #9a9a9a;
  border-radius: 4px;
  border-right: 0;
  background-color: #f4f4f4;
  color: #9a9a9a;
  position: relative;
  margin-right: 10px !important;
  line-height: 12px;
  margin-bottom: 2px;
  font-size: 11px !important;
  padding: 5px 15px 0px 6px !important;
  font-weight: 500;
}
.article_view .content div.article_content > ul li > label:before {
  content: "";
  position: absolute;
  width: 19px;
  height: 20px;
  border: 2px solid #9a9a9a;
  -webkit-transform: rotate(45deg) scale(0.75) translate(-1px, 0px) skew(14deg, 13deg);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(45deg) scale(0.75) translate(-1px, 0px) skew(14deg, 13deg);
  -moz-transform-origin: top left;
  transform: rotate(45deg) scale(0.75) translate(-1px, 0px) skew(14deg, 13deg);
  transform-origin: top left;
  border-bottom: 0;
  border-left: 0;
  border-radius: 4px;
  background-color: #f4f4f4;
  right: -18px;
  top: -1px;
}
.article_view .content div.article_content > ul li > label:after {
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: transparent;
  display: block;
  position: absolute;
  right: 2px;
  top: 8px;
}
.article_view .content div.article_content > button {
  border-radius: 0;
  width: 200px;
  margin: 25px 0;
}
/*   user_center   */
.user_center .layout .top-nav ul.top > li {
  width: 790px;
}
.user_center .layout .top-nav ul.top > li > a {
  background-color: #34495e;
  border-color: #34495e;
  color: white !important;
  border-radius: 0;
  cursor: default;
}
.user_center .top-nav {
  margin-left:4px;
}
.user_center .layout .content {
  margin-left: 208px;
}
.user_center .layout .content .user_profile {
  // padding: 20px;
  width: 790px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.user_center .table td,.user_center .table th{
  border-width: 0;
}
.user_center .layout .content .user_profile table th {
  padding: 10px;
  font-style: italic;
  width:40%;
}
.user_center .layout .content .user_profile table img {
  max-width: 150px;
  margin-bottom: 10px;
  border-radius:6px;
}
.user_center .top-nav > .top {
  margin-left: 4px;
}
.user_center .updateimg {
  position: relative;
  left: 0;
  top: 8px;
  height: 30px;
  width: 60px;
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
  outline: none;
  border-style: none;
  border-radius: 4px;

}
.user_center .form-control.pwd { width: 200px !important;}
input.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #1686b0;
}
/*   usercenter_myarticles   */
.usercenter_myarticles select {
  width: 150px;
  display: inline-block;
  margin-top: 20px;
}
.usercenter_myarticles ul.pagination {
  float: right;
  margin-top: 50px;
}
.usercenter_myarticles .layout { overflow: inherit;min-height:700px;}
.usercenter_myarticles .layout .top-nav ul.top > li {
  width: 792px;
}
.usercenter_myarticles .layout .content .nav-tabs > li { width:190px;}
.usercenter_myarticles .layout .dropdown-menu { border-top-width:1px;}
.usercenter_myarticles .layout .top-nav ul.top > li a {
  background-color: #34495e;
  border-color: #34495e;
  color: white !important;
  border-radius: 0;
  cursor: default;
}
.usercenter_myarticles .top-nav {
  margin-bottom:10px;
}
.usercenter_myarticles .top-nav #myTab {
  background-color:#fff;
  position:relative;
  left:3px;
  border-left-width:0;
  width:100%;
}
.usercenter_myarticles .top-nav #myTab .dropdown { width:196px;}
.usercenter_myarticles .top-nav #myTab .dropdown > ul{ width:196px;border-top-style: none;margin-top: 0;}
.usercenter_myarticles .top-nav #myTab .dropdown a { width:196px;padding: 5px 20px;}
.usercenter_myarticles .top-nav #myTab .dropdown .dropdown-menu a { width:194px;padding: 5px 20px;}
.usercenter_myarticles .top-nav #myTab + div { 
    margin-bottom:5px; width: 120px;
    float: right;
    margin-right: 40px;
    position: relative;
  }   
  

.usercenter_myarticles .top-nav #myTab a:hover {
  background-color: #1686b0;
  border-color:#1686b0;
  color:#fff;
}
.usercenter_myarticles .top-nav #myTab a:focus {
  background-color: #1686b0;
  border-color:#1686b0;
  color:#fff;
}
.usercenter_myarticles .layout .content {
  margin-left: 210px;
  margin-top: 0;
}
.usercenter_myarticles .layout .content > ul {
  margin-top: -6px;
  border-left-style: none;
}
.usercenter_myarticles .layout .content #myTab > li > a {
  border-color: #eee;
  height: 32px;
  line-height: 12px;
  margin-right: 0px;
  color: #000;
}
.usercenter_myarticles .layout .content #myTab > li > a:last-child {
  margin-right: -1px;
}
.usercenter_myarticles .layout .content #myTab > li > a:hover {
  border-color: #eee;
  color: #000;
}
.usercenter_myarticles .layout .content .tab-content {
  // width: 754px;
  height: auto;
  border: 1px solid #ccc;
  max-height: 2000px;
  border-radius: 0px;
  padding-bottom:10px;
}
.usercenter_myarticles .mydownload table.download tr.tr_active,
.usercenter_myarticles .myupload table.download tr.tr_active,
.usercenter_myarticles .mydownload table.upload tr.tr_active,
.usercenter_myarticles .myupload table.upload tr.tr_active {
  background-color: #eee;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.usercenter_myarticles .table td { 
  vertical-align: middle;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.usercenter_myarticles .upload-article.table tr td:first-child { width:20%;}
.usercenter_myarticles .upload-article.table td { overflow: inherit;}
.usercenter_myarticles .mydownload table.download tr th input,
.usercenter_myarticles .myupload table.download tr th input,
.usercenter_myarticles .mydownload table.upload tr th input,
.usercenter_myarticles .myupload table.upload tr th input {
  font-size: 16px;
  cursor: pointer;
}
.usercenter_myarticles .mydownload table.download tr th button,
.usercenter_myarticles .myupload table.download tr th button,
.usercenter_myarticles .mydownload table.upload tr th button,
.usercenter_myarticles .myupload table.upload tr th button {
  height: 30px;
  line-height: 15px;
  width: 80px;
  background-color: #ac2925;
  border-color: #ac2925;
}
.usercenter_myarticles .mydownload table.download tr td input,
.usercenter_myarticles .myupload table.download tr td input,
.usercenter_myarticles .mydownload table.upload tr td input,
.usercenter_myarticles .myupload table.upload tr td input {
  cursor: pointer;
}
.usercenter_myarticles .mydownload table.download tr td button,
.usercenter_myarticles .myupload table.download tr td button,
.usercenter_myarticles .mydownload table.upload tr td button,
.usercenter_myarticles .myupload table.upload tr td button {
  height: 24px;
  line-height: 11px;
  width: 80px;
}
.usercenter_myarticles #magzine button,
.usercenter_myarticles #digital button {
  margin-top: 10px;
  width: 160px;
  border-radius: 0;
  height: 40px;
  line-height: 20px;
}
.usercenter_myarticles #magzine table.magzine tr td,
.usercenter_myarticles #digital table.magzine tr td,
.usercenter_myarticles #magzine table.digital tr td,
.usercenter_myarticles #digital table.digital tr td {
  display: inline-block;
  margin-bottom: 20px;
}
.usercenter_myarticles #magzine table.magzine tr td:first-child,
.usercenter_myarticles #digital table.magzine tr td:first-child,
.usercenter_myarticles #magzine table.digital tr td:first-child,
.usercenter_myarticles #digital table.digital tr td:first-child {
  width: 120px;
}
.usercenter_myarticles #magzine table.magzine tr td input.form-control,
.usercenter_myarticles #digital table.magzine tr td input.form-control,
.usercenter_myarticles #magzine table.digital tr td input.form-control,
.usercenter_myarticles #digital table.digital tr td input.form-control {
  height: 30px;
}
.usercenter_myarticles #magzine table.magzine tr td select.form-control,
.usercenter_myarticles #digital table.magzine tr td select.form-control,
.usercenter_myarticles #magzine table.digital tr td select.form-control,
.usercenter_myarticles #digital table.digital tr td select.form-control {
  height: 28px;
}

.usercenter_myarticles .layout > .top-nav > .top { position:relative;left:1px;}
.usercenter_myarticles .fa-remove , .usercenter_myarticles .fa-undo { position: relative;left:2px;}
.usercenter_myarticles .i-delall { position:relative;left:-80px;top:2px;color:#fff;}
.usercenter_myarticlse .btn.btn-delall.del { border-radius:0;}

.usercenter_myarticles .article_search { border-radius: 0;position: relative;top:-5px;}
.usercenter_myarticles .article_search + a { 
    position: absolute;
    top: 4px;
    left: 158px;
    color: #000;
    cursor: pointer;
 }
.usercenter_myarticles .btn.btn-default.btn-sm.btn-ok {
  position: relative;left: -16px;top: 4px;padding-bottom: 4px;
}
.usercenter_myarticles .datepicker { border-radius:0;position:relative;}
.usercenter_myarticles .datepicker + i { position:absolute;left:160px;top:10px;}
.usercenter_myarticles .bootstrap-tagsinput { width:100%;}
.usercenter_myarticles .content a.btn-tag { height:34px;line-height: 24px;border-radius: 4px;}
.usercenter_myarticles #myTab .category.dropdown > ul > li > ul{ left:194px;border-top:1px solid #eees;}
/* article_edit*/
.article_edit .layout .tab-content {
  width: 790px !important;
}
.article_edit .table th , .article_edit .table td {
  border-top-width:0;
  vertical-align: text-bottom;
}

.pages a,.pages span {
    display:inline-block;
    padding:2px 10px;
    margin:0 1px;
    border:1px solid #f0f0f0;
    
}
.pages a,.pages li {
    display:inline-block;
    list-style: none;
    text-decoration:none; color:#58A0D3;
    cursor:pointer;
/*
*/}
.pages a.first,.pages a.prev,.pages a.next,.pages a.end{
    margin:0;
}
.pages a:hover{
    cursor:pointer;
    cursor: pointer;
    border-color: #58A0D3;
    background-color: #0094d4;
    color: white;
}
.pages span.current{
    background:#50A8E6;
    color:#FFF;
    font-weight:700;
    border-color:#50A8E6;
}
.content-footer { height:100px !important;padding-left:20px;padding-right: 20px;}
.content-footer > .left-nav { display: inline-block;}
.num,.next,.prev {
  cursor:pointer;
}
.btn-search {
  font-size:14px;
  position: relative;
  top: -1px;
  left: -40px;
  border-style: none;
  padding-bottom:4px;
  line-height: 14px;
  background-color:transparent;
}
.btn-search:hover,.btn-search:focus,.btn-search:active {
  background-color: transparent; !important;
  border-color: transparent; !important;
}
.btn-search:focus {
  outline:none !important;
}
.btn-search:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

font.em_font {
  color:red;
  font-style:italic;
  font-weight: 600;

}
.content .col-md-3 {
  padding:0;
}

.dropdown-menu .star { font-size:12px;}
div.div-tag {
  margin-top:10px;
}
a.btn { padding:6px 6px;}
label.tag {
  height: 26px;
  background-color: rgba(139, 197, 215 ,0.2);
  line-height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  font-weight: normal;
  border-radius:2px;
  position: relative;
  top: 8px;
  margin-right: 6px;
}
/*label.tag:after {
  content:"";
  position:absolute;
  display: block;
  width:6px;
  height:6px;
  border-radius:50%;
  background-color: #fff;
  top:10px;
  left:2px;
}*/
.btn-delall {
  height: 36px;
  background-color: #C0333A;
  line-height: 24px;
  color: #fff;
/*  font-family: Century Gothic;
*/  font-weight: normal;
  
}
.btn-delall:hover {
  background-color:#C0333A;
  color:#fff;
}
.btn-delall:focus {
  outline: none;
  color:#fff;
}
a.btn-restore {
  height: 34px;
  background-color: #357ca5;
  line-height: 22px;
  color: #fff;
/*  font-family: Century Gothic;
*/  font-weight: normal;
  position: relative;
  left:-8px;
}
a.btn-restore:hover {
  background-color:#31708f;
  color:#fff;
}
a.btn-restore:focus { color:#fff;}
a.btn-tag {
  height: 26px;
  background-color: rgb(139, 197, 215);
  line-height: 13px;
  padding-right: 10px;
  color: #fff;
/*  font-family: Century Gothic;
*/  font-weight: normal;
  border-radius:2px;
  position: relative;
}
a.btn-tag:hover {
  background-color:#31708F;
  color:#fff;
}
a.btn-tag > i {
  position: relative;
  margin-right:2px;
}
.div-tag.tag:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 8px;
  top: 11px;
}
.btn-edit {
  height:34px !important;
  line-height: 22px !important;
}
.btn-add {
  height:36px;
  background-color: #048599;
  color:#fff;
  position:relative;
  left:50%;
  border-color: #048599;

}
.btn-add:hover {

  background-color:#048599;
  color:#fff;
}
.btn-add .fa-user-plus   font-size:14px;
  position:relative;
  top:3px;
}

.left-nav a.category {
  cursor:pointer;
}
ul.footer-result { width:150px;margin-top:38px !important;background-color:#428bca !important;border-color:#357ebd !important;border-radius:3px !important;color:#fff !important;}
.content-footer .nav-tabs.footer-result { border-style:none;}
.content-footer .nav-tabs.footer-result > li >a { border-style:none;border-radius:0;}
ul.footer-result > li { width: 152px !important;text-align: center;}
ul.footer-result > li ul.dropdown-menu { min-width:152px !important;margin:0;border-radius:0;border-top-width:0;}
ul.footer-result a.category { color:#fff;height: 38px;line-height: 19px;border-bottom-width:0 !important;background-color: #1686b0 !important;border-color: #126e90 !important;}
/*ul.footer-result li.dropdown:hover { background-color:#1ca8dd !important;border-color:#1997c6 !important;}
*/

ul.child-menu { position:absolute;top:0;left:200px;padding:0;}
ul.child-menu > li { border-bottom:1px solid #ddd;}
ul.child-menu > li a { height:30px !important;line-height: 26px !important;}
.left-nav li.dropdown:after { 
    content:'';
}

div.no-result { height:200px;text-align: center;transform:translateY(180px);}
div.no-result > p { font-size:16px !important;color:#999;}

.usercenter_myarticles #coverview { width: 180px;height: 110px}
.btn-lg { border-radius:4px;}
.btn-lg { border-radius:4px;}
.user_center .pwd.form-control { width:150px;border-radius:0;display: inline-block;}

input.btn.btn-primary.btn-block { width:20%;margin-left:21%;}


.article_tag .tags_div {
    width: 792px;
    margin-left: 208px;
    border: 1px solid #ccc;
    min-height: 500px;

}
.article_tag .nav.nav-tabs.top { border-style:none;}
.article_tag .nav.nav-tabs.top > li {
  width:inherit;
  background-color: #34495e;
  border-color: #34495e;
  border-radius: 0;
}
.article_tag .nav.nav-tabs.top > li >a {
  color:#fff;
  cursor:default;
}
.article_tag .tags_div table tbody td {
  vertical-align: middle;
}
.article_tag .search-tag {
    display: inline-block;
    width: 200px;
    border-radius:0;
}
.article_tag .pagination {
    float: right;
    position: relative;
    top: 30px;
    right: 30px;
}
.article_tag .layout {
  overflow: visible;
}
/*.user_center.article_tag .tags_div table {
  border:1px solid #ccc;
}
.user_center.article_tag .tags_div table th,.user_center.article_tag .tags_div table td{
  border:1px solid #ccc;
}*/

